# Load data

Define a function to input data and extract the delay flights

In [1]:
!which python

/Users/calvincheung/anaconda/envs/py27/bin/python

In [2]:
import numpy as np
import pandas as pd

In [3]:
!ls /Volumes/DATA/data_science/works_examples/Flight_delay/Data/2015

103642275_T_ONTIME-10_15.csv 103642275_T_ONTIME-4_15.csv
103642275_T_ONTIME-11_15.csv 103642275_T_ONTIME-5_15.csv
103642275_T_ONTIME-12_15.csv 103642275_T_ONTIME-6_15.csv
103642275_T_ONTIME-1_15.csv  103642275_T_ONTIME-7_15.csv
103642275_T_ONTIME-2_15.csv  103642275_T_ONTIME-8_15.csv
103642275_T_ONTIME-3_15.csv  103642275_T_ONTIME-9_15.csv

In [12]:
# Check the number of lines in the csv data
!cat /Volumes/DATA/data_science/works_examples/Flight_delay/Data/2015/103642275_T_ONTIME-1_15.csv | wc -l

  469969

In [82]:
path = '/Volumes/DATA/data_science/works_examples/Flight_delay/Data/2015/'
filename = '103642275_T_ONTIME-1_15.csv'
df = pd.read_csv(path + filename, low_memory=False)

In [87]:
# extract any delay flights
delay = df[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].notnull().any(1)
df = df[delay]

In [92]:
print cols

['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'UNIQUE_CARRIER', 'AIRLINE_ID', 'CARRIER', 'TAIL_NUM', 'FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME', 'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME', 'DIV_AIRPORT_LANDINGS']

In [89]:
real = df.count()
cols = real[real > 0].index.tolist()
df = df[cols]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95951 entries, 5 to 469967
Data columns (total 64 columns):
YEAR                     95951 non-null int64
QUARTER                  95951 non-null int64
MONTH                    95951 non-null int64
DAY_OF_MONTH             95951 non-null int64
DAY_OF_WEEK              95951 non-null int64
FL_DATE                  95951 non-null object
UNIQUE_CARRIER           95951 non-null object
AIRLINE_ID               95951 non-null int64
CARRIER                  95951 non-null object
TAIL_NUM                 95951 non-null object
FL_NUM                   95951 non-null int64
ORIGIN_AIRPORT_ID        95951 non-null int64
ORIGIN_AIRPORT_SEQ_ID    95951 non-null int64
ORIGIN_CITY_MARKET_ID    95951 non-null int64
ORIGIN                   95951 non-null object
ORIGIN_CITY_NAME         95951 non-null object
ORIGIN_STATE_ABR         95951 non-null object
ORIGIN_STATE_FIPS        95951 non-null int64
ORIGIN_STATE_NM          95951 non-null object
ORIGIN_WAC               95951 non-null int64
DEST_AIRPORT_ID          95951 non-null int64
DEST_AIRPORT_SEQ_ID      95951 non-null int64
DEST_CITY_MARKET_ID      95951 non-null int64
DEST                     95951 non-null object
DEST_CITY_NAME           95951 non-null object
DEST_STATE_ABR           95951 non-null object
DEST_STATE_FIPS          95951 non-null int64
DEST_STATE_NM            95951 non-null object
DEST_WAC                 95951 non-null int64
CRS_DEP_TIME             95951 non-null int64
DEP_TIME                 95951 non-null float64
DEP_DELAY                95951 non-null float64
DEP_DELAY_NEW            95951 non-null float64
DEP_DEL15                95951 non-null float64
DEP_DELAY_GROUP          95951 non-null float64
DEP_TIME_BLK             95951 non-null object
TAXI_OUT                 95951 non-null float64
WHEELS_OFF               95951 non-null float64
WHEELS_ON                95951 non-null float64
TAXI_IN                  95951 non-null float64
CRS_ARR_TIME             95951 non-null int64
ARR_TIME                 95951 non-null float64
ARR_DELAY                95951 non-null float64
ARR_DELAY_NEW            95951 non-null float64
ARR_DEL15                95951 non-null float64
ARR_DELAY_GROUP          95951 non-null float64
ARR_TIME_BLK             95951 non-null object
CANCELLED                95951 non-null float64
DIVERTED                 95951 non-null float64
CRS_ELAPSED_TIME         95951 non-null float64
ACTUAL_ELAPSED_TIME      95951 non-null float64
AIR_TIME                 95951 non-null float64
FLIGHTS                  95951 non-null float64
DISTANCE                 95951 non-null float64
DISTANCE_GROUP           95951 non-null int64
CARRIER_DELAY            95951 non-null float64
WEATHER_DELAY            95951 non-null float64
NAS_DELAY                95951 non-null float64
SECURITY_DELAY           95951 non-null float64
LATE_AIRCRAFT_DELAY      95951 non-null float64
FIRST_DEP_TIME           2470 non-null float64
TOTAL_ADD_GTIME          2470 non-null float64
LONGEST_ADD_GTIME        2470 non-null float64
DIV_AIRPORT_LANDINGS     95951 non-null int64
dtypes: float64(29), int64(21), object(14)
memory usage: 47.6+ MB

In [101]:
n_unique = df.select_dtypes(include=['object']).apply(pd.Series.nunique)
print n_unique.index.tolist()

['FL_DATE', 'UNIQUE_CARRIER', 'CARRIER', 'TAIL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM', 'DEP_TIME_BLK', 'ARR_TIME_BLK']

In [94]:
notnull = df.select_dtypes(include=['object']).notnull().sum(axis=0)
unique_ratio = n_unique / notnull
unique_ratio

FL_DATE             0.000323
UNIQUE_CARRIER      0.000146
CARRIER             0.000146
TAIL_NUM            0.044752
ORIGIN              0.003231
ORIGIN_CITY_NAME    0.003189
ORIGIN_STATE_ABR    0.000552
ORIGIN_STATE_NM     0.000552
DEST                0.003241
DEST_CITY_NAME      0.003200
DEST_STATE_ABR      0.000552
DEST_STATE_NM       0.000552
DEP_TIME_BLK        0.000198
ARR_TIME_BLK        0.000198
dtype: float64

In [106]:
# select column to convert to category
catcol = ['UNIQUE_CARRIER', 'CARRIER', 'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM']
df[catcol] = df[catcol].apply(lambda c: c.astype('category'))

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95951 entries, 5 to 469967
Data columns (total 64 columns):
YEAR                     95951 non-null int64
QUARTER                  95951 non-null int64
MONTH                    95951 non-null int64
DAY_OF_MONTH             95951 non-null int64
DAY_OF_WEEK              95951 non-null int64
FL_DATE                  95951 non-null object
UNIQUE_CARRIER           95951 non-null category
AIRLINE_ID               95951 non-null int64
CARRIER                  95951 non-null category
TAIL_NUM                 95951 non-null object
FL_NUM                   95951 non-null int64
ORIGIN_AIRPORT_ID        95951 non-null int64
ORIGIN_AIRPORT_SEQ_ID    95951 non-null int64
ORIGIN_CITY_MARKET_ID    95951 non-null int64
ORIGIN                   95951 non-null category
ORIGIN_CITY_NAME         95951 non-null category
ORIGIN_STATE_ABR         95951 non-null category
ORIGIN_STATE_FIPS        95951 non-null int64
ORIGIN_STATE_NM          95951 non-null category
ORIGIN_WAC               95951 non-null int64
DEST_AIRPORT_ID          95951 non-null int64
DEST_AIRPORT_SEQ_ID      95951 non-null int64
DEST_CITY_MARKET_ID      95951 non-null int64
DEST                     95951 non-null category
DEST_CITY_NAME           95951 non-null category
DEST_STATE_ABR           95951 non-null category
DEST_STATE_FIPS          95951 non-null int64
DEST_STATE_NM            95951 non-null category
DEST_WAC                 95951 non-null int64
CRS_DEP_TIME             95951 non-null int64
DEP_TIME                 95951 non-null float64
DEP_DELAY                95951 non-null float64
DEP_DELAY_NEW            95951 non-null float64
DEP_DEL15                95951 non-null float64
DEP_DELAY_GROUP          95951 non-null float64
DEP_TIME_BLK             95951 non-null object
TAXI_OUT                 95951 non-null float64
WHEELS_OFF               95951 non-null float64
WHEELS_ON                95951 non-null float64
TAXI_IN                  95951 non-null float64
CRS_ARR_TIME             95951 non-null int64
ARR_TIME                 95951 non-null float64
ARR_DELAY                95951 non-null float64
ARR_DELAY_NEW            95951 non-null float64
ARR_DEL15                95951 non-null float64
ARR_DELAY_GROUP          95951 non-null float64
ARR_TIME_BLK             95951 non-null object
CANCELLED                95951 non-null float64
DIVERTED                 95951 non-null float64
CRS_ELAPSED_TIME         95951 non-null float64
ACTUAL_ELAPSED_TIME      95951 non-null float64
AIR_TIME                 95951 non-null float64
FLIGHTS                  95951 non-null float64
DISTANCE                 95951 non-null float64
DISTANCE_GROUP           95951 non-null int64
CARRIER_DELAY            95951 non-null float64
WEATHER_DELAY            95951 non-null float64
NAS_DELAY                95951 non-null float64
SECURITY_DELAY           95951 non-null float64
LATE_AIRCRAFT_DELAY      95951 non-null float64
FIRST_DEP_TIME           2470 non-null float64
TOTAL_ADD_GTIME          2470 non-null float64
LONGEST_ADD_GTIME        2470 non-null float64
DIV_AIRPORT_LANDINGS     95951 non-null int64
dtypes: category(10), float64(29), int64(21), object(4)
memory usage: 41.6+ MB

In [108]:
df.ORIGIN_STATE_FIPS

5         36
23        36
33         6
34         6
58         6
67        36
70        36
81        36
91        36
95         6
96         6
99         6
103        6
110        6
116        6
121        6
124       48
125       48
127       48
128       48
130       48
131       48
136       48
139       48
140       48
143       48
145       48
153       48
158       15
160       15
          ..
469832    12
469835    42
469841    42
469849    26
469850    26
469851    26
469852    26
469854    26
469855    26
469856    26
469857    26
469860    26
469861    26
469865    26
469873    26
469880    32
469884    32
469885    32
469887    32
469892    32
469898    32
469908    36
469909    36
469913    36
469914    36
469925    36
469926    36
469934    36
469948     6
469967    48
Name: ORIGIN_STATE_FIPS, dtype: int64

In [42]:
# count the number of non NaN in columns, if no more than 100 'real' data, remove the columns
real = df.count()
cols = real[real > 100].index.tolist()
df = df[cols]

# change columns names in lowercase
cols = df.columns.tolist()
cols = [s.lower() for s in cols]
df.columns = cols

In [76]:
#len(df[df.carrier_delay.notnull()])
#df['carrier_delay','weather_delay']
# weather_delay             
# nas_delay                 
# security_delay             
# late_aircraft_delay

# extract any delay flights
delay = df[['carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].notnull().any(1)

0         False
1         False
2         False
3         False
4         False
5          True
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23         True
24        False
25        False
26        False
27        False
28        False
29        False
          ...
469938    False
469939    False
469940    False
469941    False
469942    False
469943    False
469944    False
469945    False
469946    False
469947    False
469948     True
469949    False
469950    False
469951    False
469952    False
469953    False
469954    False
469955    False
469956    False
469957    False
469958    False
469959    False
469960    False
469961    False
469962    False
469963    False
469964    False
469965    False
469966    False
469967     True
dtype: bool

In [14]:
df.DIV1_AIRPORT.info()

AttributeError: 'Series' object has no attribute 'info'

In [13]:
df.select_dtypes(include=['object'])

,FL_DATE,UNIQUE_CARRIER,CARRIER,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME_BLK,ARR_TIME_BLK,CANCELLATION_CODE,DIV1_AIRPORT,DIV1_TAIL_NUM,DIV2_AIRPORT,DIV2_TAIL_NUM,DIV3_AIRPORT
0,2015-01-01,AA,AA,N787AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,AA,AA,N795AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,AA,AA,N788AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-04,AA,AA,N791AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-05,AA,AA,N783AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-01-06,AA,AA,N799AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-01-07,AA,AA,N784AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-01-08,AA,AA,N787AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-01-09,AA,AA,N795AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-01-10,AA,AA,N790AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
10,2015-01-11,AA,AA,N786AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
11,2015-01-12,AA,AA,N790AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
12,2015-01-13,AA,AA,N796AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-01-14,AA,AA,N793AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-01-15,AA,AA,N790AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-01-16,AA,AA,N797AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-01-17,AA,AA,N795AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-01-18,AA,AA,N786AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-01-19,AA,AA,N785AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
19,2015-01-20,AA,AA,N797AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-01-21,AA,AA,N789AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-01-22,AA,AA,N790AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-01-23,AA,AA,N790AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
23,2015-01-24,AA,AA,N787AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
24,2015-01-25,AA,AA,N791AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
25,2015-01-26,AA,AA,N783AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
26,2015-01-27,AA,AA,NaN,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,B,NaN,NaN,NaN,NaN,NaN
27,2015-01-28,AA,AA,NaN,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,B,NaN,NaN,NaN,NaN,NaN
28,2015-01-29,AA,AA,N794AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-01-30,AA,AA,N792AA,JFK,"New York, NY",NY,New York,LAX,"Los Angeles, CA",CA,California,0900-0959,1200-1259,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469938,2015-01-03,NK,NK,N505NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469939,2015-01-04,NK,NK,N503NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469940,2015-01-05,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469941,2015-01-06,NK,NK,N503NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469942,2015-01-07,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469943,2015-01-08,NK,NK,N503NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469944,2015-01-09,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469945,2015-01-10,NK,NK,N503NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469946,2015-01-11,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469947,2015-01-12,NK,NK,N503NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469948,2015-01-13,NK,NK,N514NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469949,2015-01-14,NK,NK,N528NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469950,2015-01-15,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469951,2015-01-16,NK,NK,N528NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469952,2015-01-17,NK,NK,N508NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469953,2015-01-18,NK,NK,N528NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469954,2015-01-19,NK,NK,N505NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469955,2015-01-20,NK,NK,N521NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469956,2015-01-21,NK,NK,N505NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469957,2015-01-22,NK,NK,N522NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469958,2015-01-23,NK,NK,N502NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469959,2015-01-24,NK,NK,N524NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469960,2015-01-25,NK,NK,N502NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469961,2015-01-26,NK,NK,N524NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469962,2015-01-27,NK,NK,N502NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469963,2015-01-28,NK,NK,N524NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469964,2015-01-29,NK,NK,N502NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469965,2015-01-30,NK,NK,N519NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469966,2015-01-31,NK,NK,N502NK,OAK,"Oakland, CA",CA,California,LAS,"Las Vegas, NV",NV,Nevada,0600-0659,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN
469967,2015-01-01,NK,NK,N502NK,IAH,"Houston, TX",TX,Texas,LAS,"Las Vegas, NV",NV,Nevada,0700-0759,0800-0859,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,...,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_AIRPORT_ID,DIV5_AIRPORT_SEQ_ID,DIV5_WHEELS_ON,DIV5_TOTAL_GTIME,DIV5_LONGEST_GTIME,DIV5_WHEELS_OFF,DIV5_TAIL_NUM,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
col = df.columns.tolist()
col = [s.lower() for s in col]
df.columns = col

In [ ]:
df.columns

In [38]:
df.weather_delay

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          0.0
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23        79.0
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
          ...
469938     NaN
469939     NaN
469940     NaN
469941     NaN
469942     NaN
469943     NaN
469944     NaN
469945     NaN
469946     NaN
469947     NaN
469948     0.0
469949     NaN
469950     NaN
469951     NaN
469952     NaN
469953     NaN
469954     NaN
469955     NaN
469956     NaN
469957     NaN
469958     NaN
469959     NaN
469960     NaN
469961     NaN
469962     NaN
469963     NaN
469964     NaN
469965     NaN
469966     NaN
469967     0.0
Name: weather_delay, dtype: float64

In [19]:
df.describe

<bound method DataFrame.describe of         YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK     FL_DATE  \
0       2015        1      1             1            4  2015-01-01
1       2015        1      1             2            5  2015-01-02
2       2015        1      1             3            6  2015-01-03
3       2015        1      1             4            7  2015-01-04
4       2015        1      1             5            1  2015-01-05
5       2015        1      1             6            2  2015-01-06
6       2015        1      1             7            3  2015-01-07
7       2015        1      1             8            4  2015-01-08
8       2015        1      1             9            5  2015-01-09
9       2015        1      1            10            6  2015-01-10
10      2015        1      1            11            7  2015-01-11
11      2015        1      1            12            1  2015-01-12
12      2015        1      1            13            2  2015-01-13
13      2015        1      1            14            3  2015-01-14
14      2015        1      1            15            4  2015-01-15
15      2015        1      1            16            5  2015-01-16
16      2015        1      1            17            6  2015-01-17
17      2015        1      1            18            7  2015-01-18
18      2015        1      1            19            1  2015-01-19
19      2015        1      1            20            2  2015-01-20
20      2015        1      1            21            3  2015-01-21
21      2015        1      1            22            4  2015-01-22
22      2015        1      1            23            5  2015-01-23
23      2015        1      1            24            6  2015-01-24
24      2015        1      1            25            7  2015-01-25
25      2015        1      1            26            1  2015-01-26
26      2015        1      1            27            2  2015-01-27
27      2015        1      1            28            3  2015-01-28
28      2015        1      1            29            4  2015-01-29
29      2015        1      1            30            5  2015-01-30
...      ...      ...    ...           ...          ...         ...
469938  2015        1      1             3            6  2015-01-03
469939  2015        1      1             4            7  2015-01-04
469940  2015        1      1             5            1  2015-01-05
469941  2015        1      1             6            2  2015-01-06
469942  2015        1      1             7            3  2015-01-07
469943  2015        1      1             8            4  2015-01-08
469944  2015        1      1             9            5  2015-01-09
469945  2015        1      1            10            6  2015-01-10
469946  2015        1      1            11            7  2015-01-11
469947  2015        1      1            12            1  2015-01-12
469948  2015        1      1            13            2  2015-01-13
469949  2015        1      1            14            3  2015-01-14
469950  2015        1      1            15            4  2015-01-15
469951  2015        1      1            16            5  2015-01-16
469952  2015        1      1            17            6  2015-01-17
469953  2015        1      1            18            7  2015-01-18
469954  2015        1      1            19            1  2015-01-19
469955  2015        1      1            20            2  2015-01-20
469956  2015        1      1            21            3  2015-01-21
469957  2015        1      1            22            4  2015-01-22
469958  2015        1      1            23            5  2015-01-23
469959  2015        1      1            24            6  2015-01-24
469960  2015        1      1            25            7  2015-01-25
469961  2015        1      1            26            1  2015-01-26
469962  2015        1      1            27            2  2015-01-27
469963  2015        1      1            28            3  2015-01-28
469964  2015        1      1            29            4  2015-01-29
469965  2015        1      1            30            5  2015-01-30
469966  2015        1      1            31            6  2015-01-31
469967  2015        1      1             1            4  2015-01-01

       UNIQUE_CARRIER  AIRLINE_ID CARRIER TAIL_NUM      ...       \
0                  AA       19805      AA   N787AA      ...
1                  AA       19805      AA   N795AA      ...
2                  AA       19805      AA   N788AA      ...
3                  AA       19805      AA   N791AA      ...
4                  AA       19805      AA   N783AA      ...
5                  AA       19805      AA   N799AA      ...
6                  AA       19805      AA   N784AA      ...
7                  AA       19805      AA   N787AA      ...
8                  AA       19805      AA   N795AA      ...
9                  AA       19805      AA   N790AA      ...
10                 AA       19805      AA   N786AA      ...
11                 AA       19805      AA   N790AA      ...
12                 AA       19805      AA   N796AA      ...
13                 AA       19805      AA   N793AA      ...
14                 AA       19805      AA   N790AA      ...
15                 AA       19805      AA   N797AA      ...
16                 AA       19805      AA   N795AA      ...
17                 AA       19805      AA   N786AA      ...
18                 AA       19805      AA   N785AA      ...
19                 AA       19805      AA   N797AA      ...
20                 AA       19805      AA   N789AA      ...
21                 AA       19805      AA   N790AA      ...
22                 AA       19805      AA   N790AA      ...
23                 AA       19805      AA   N787AA      ...
24                 AA       19805      AA   N791AA      ...
25                 AA       19805      AA   N783AA      ...
26                 AA       19805      AA      NaN      ...
27                 AA       19805      AA      NaN      ...
28                 AA       19805      AA   N794AA      ...
29                 AA       19805      AA   N792AA      ...
...               ...         ...     ...      ...      ...
469938             NK       20416      NK   N505NK      ...
469939             NK       20416      NK   N503NK      ...
469940             NK       20416      NK   N508NK      ...
469941             NK       20416      NK   N503NK      ...
469942             NK       20416      NK   N508NK      ...
469943             NK       20416      NK   N503NK      ...
469944             NK       20416      NK   N508NK      ...
469945             NK       20416      NK   N503NK      ...
469946             NK       20416      NK   N508NK      ...
469947             NK       20416      NK   N503NK      ...
469948             NK       20416      NK   N514NK      ...
469949             NK       20416      NK   N528NK      ...
469950             NK       20416      NK   N508NK      ...
469951             NK       20416      NK   N528NK      ...
469952             NK       20416      NK   N508NK      ...
469953             NK       20416      NK   N528NK      ...
469954             NK       20416      NK   N505NK      ...
469955             NK       20416      NK   N521NK      ...
469956             NK       20416      NK   N505NK      ...
469957             NK       20416      NK   N522NK      ...
469958             NK       20416      NK   N502NK      ...
469959             NK       20416      NK   N524NK      ...
469960             NK       20416      NK   N502NK      ...
469961             NK       20416      NK   N524NK      ...
469962             NK       20416      NK   N502NK      ...
469963             NK       20416      NK   N524NK      ...
469964             NK       20416      NK   N502NK      ...
469965             NK       20416      NK   N519NK      ...
469966             NK       20416      NK   N502NK      ...
469967             NK       20416      NK   N502NK      ...

        DIV4_TAIL_NUM  DIV5_AIRPORT  DIV5_AIRPORT_ID  DIV5_AIRPORT_SEQ_ID  \
0                 NaN           NaN              NaN                  NaN
1                 NaN           NaN              NaN                  NaN
2                 NaN           NaN              NaN                  NaN
3                 NaN           NaN              NaN                  NaN
4                 NaN           NaN              NaN                  NaN
5                 NaN           NaN              NaN                  NaN
6                 NaN           NaN              NaN                  NaN
7                 NaN           NaN              NaN                  NaN
8                 NaN           NaN              NaN                  NaN
9                 NaN           NaN              NaN                  NaN
10                NaN           NaN              NaN                  NaN
11                NaN           NaN              NaN                  NaN
12                NaN           NaN              NaN                  NaN
13                NaN           NaN              NaN                  NaN
14                NaN           NaN              NaN                  NaN
15                NaN           NaN              NaN                  NaN
16                NaN           NaN              NaN                  NaN
17                NaN           NaN              NaN                  NaN
18                NaN           NaN              NaN                  NaN
19                NaN           NaN              NaN                  NaN
20                NaN           NaN              NaN                  NaN
21                NaN           NaN              NaN                  NaN
22                NaN           NaN              NaN                  NaN
23                NaN           NaN              NaN                  NaN
24                NaN           NaN              NaN                  NaN
25                NaN           NaN              NaN                  NaN
26                NaN           NaN              NaN                  NaN
27                NaN           NaN              NaN                  NaN
28                NaN           NaN              NaN                  NaN
29                NaN           NaN              NaN                  NaN
...               ...           ...              ...                  ...
469938            NaN           NaN              NaN                  NaN
469939            NaN           NaN              NaN                  NaN
469940            NaN           NaN              NaN                  NaN
469941            NaN           NaN              NaN                  NaN
469942            NaN           NaN              NaN                  NaN
469943            NaN           NaN              NaN                  NaN
469944            NaN           NaN              NaN                  NaN
469945            NaN           NaN              NaN                  NaN
469946            NaN           NaN              NaN                  NaN
469947            NaN           NaN              NaN                  NaN
469948            NaN           NaN              NaN                  NaN
469949            NaN           NaN              NaN                  NaN
469950            NaN           NaN              NaN                  NaN
469951            NaN           NaN              NaN                  NaN
469952            NaN           NaN              NaN                  NaN
469953            NaN           NaN              NaN                  NaN
469954            NaN           NaN              NaN                  NaN
469955            NaN           NaN              NaN                  NaN
469956            NaN           NaN              NaN                  NaN
469957            NaN           NaN              NaN                  NaN
469958            NaN           NaN              NaN                  NaN
469959            NaN           NaN              NaN                  NaN
469960            NaN           NaN              NaN                  NaN
469961            NaN           NaN              NaN                  NaN
469962            NaN           NaN              NaN                  NaN
469963            NaN           NaN              NaN                  NaN
469964            NaN           NaN              NaN                  NaN
469965            NaN           NaN              NaN                  NaN
469966            NaN           NaN              NaN                  NaN
469967            NaN           NaN              NaN                  NaN

       DIV5_WHEELS_ON DIV5_TOTAL_GTIME DIV5_LONGEST_GTIME  DIV5_WHEELS_OFF  \
0                 NaN              NaN                NaN              NaN
1                 NaN              NaN                NaN              NaN
2                 NaN              NaN                NaN              NaN
3                 NaN              NaN                NaN              NaN
4                 NaN              NaN                NaN              NaN
5                 NaN              NaN                NaN              NaN
6                 NaN              NaN                NaN              NaN
7                 NaN              NaN                NaN              NaN
8                 NaN              NaN                NaN              NaN
9                 NaN              NaN                NaN              NaN
10                NaN              NaN                NaN              NaN
11                NaN              NaN                NaN              NaN
12                NaN              NaN                NaN              NaN
13                NaN              NaN                NaN              NaN
14                NaN              NaN                NaN              NaN
15                NaN              NaN                NaN              NaN
16                NaN              NaN                NaN              NaN
17                NaN              NaN                NaN              NaN
18                NaN              NaN                NaN              NaN
19                NaN              NaN                NaN              NaN
20                NaN              NaN                NaN              NaN
21                NaN              NaN                NaN              NaN
22                NaN              NaN                NaN              NaN
23                NaN              NaN                NaN              NaN
24                NaN              NaN                NaN              NaN
25                NaN              NaN                NaN              NaN
26                NaN              NaN                NaN              NaN
27                NaN              NaN                NaN              NaN
28                NaN              NaN                NaN              NaN
29                NaN              NaN                NaN              NaN
...               ...              ...                ...              ...
469938            NaN              NaN                NaN              NaN
469939            NaN              NaN                NaN              NaN
469940            NaN              NaN                NaN              NaN
469941            NaN              NaN                NaN              NaN
469942            NaN              NaN                NaN              NaN
469943            NaN              NaN                NaN              NaN
469944            NaN              NaN                NaN              NaN
469945            NaN              NaN                NaN              NaN
469946            NaN              NaN                NaN              NaN
469947            NaN              NaN                NaN              NaN
469948            NaN              NaN                NaN              NaN
469949            NaN              NaN                NaN              NaN
469950            NaN              NaN                NaN              NaN
469951            NaN              NaN                NaN              NaN
469952            NaN              NaN                NaN              NaN
469953            NaN              NaN                NaN              NaN
469954            NaN              NaN                NaN              NaN
469955            NaN              NaN                NaN              NaN
469956            NaN              NaN                NaN              NaN
469957            NaN              NaN                NaN              NaN
469958            NaN              NaN                NaN              NaN
469959            NaN              NaN                NaN              NaN
469960            NaN              NaN                NaN              NaN
469961            NaN              NaN                NaN              NaN
469962            NaN              NaN                NaN              NaN
469963            NaN              NaN                NaN              NaN
469964            NaN              NaN                NaN              NaN
469965            NaN              NaN                NaN              NaN
469966            NaN              NaN                NaN              NaN
469967            NaN              NaN                NaN              NaN

       DIV5_TAIL_NUM  Unnamed: 109
0                NaN           NaN
1                NaN           NaN
2                NaN           NaN
3                NaN           NaN
4                NaN           NaN
5                NaN           NaN
6                NaN           NaN
7                NaN           NaN
8                NaN           NaN
9                NaN           NaN
10               NaN           NaN
11               NaN           NaN
12               NaN           NaN
13               NaN           NaN
14               NaN           NaN
15               NaN           NaN
16               NaN           NaN
17               NaN           NaN
18               NaN           NaN
19               NaN           NaN
20               NaN           NaN
21               NaN           NaN
22               NaN           NaN
23               NaN           NaN
24               NaN           NaN
25               NaN           NaN
26               NaN           NaN
27               NaN           NaN
28               NaN           NaN
29               NaN           NaN
...              ...           ...
469938           NaN           NaN
469939           NaN           NaN
469940           NaN           NaN
469941           NaN           NaN
469942           NaN           NaN
469943           NaN           NaN
469944           NaN           NaN
469945           NaN           NaN
469946           NaN           NaN
469947           NaN           NaN
469948           NaN           NaN
469949           NaN           NaN
469950           NaN           NaN
469951           NaN           NaN
469952           NaN           NaN
469953           NaN           NaN
469954           NaN           NaN
469955           NaN           NaN
469956           NaN           NaN
469957           NaN           NaN
469958           NaN           NaN
469959           NaN           NaN
469960           NaN           NaN
469961           NaN           NaN
469962           NaN           NaN
469963           NaN           NaN
469964           NaN           NaN
469965           NaN           NaN
469966           NaN           NaN
469967           NaN           NaN

[469968 rows x 110 columns]>

In [36]:
col

['year',
 'quarter',
 'month',
 'day_of_month',
 'day_of_week',
 'fl_date',
 'unique_carrier',
 'airline_id',
 'carrier',
 'tail_num',
 'fl_num',
 'origin_airport_id',
 'origin_airport_seq_id',
 'origin_city_market_id',
 'origin',
 'origin_city_name',
 'origin_state_abr',
 'origin_state_fips',
 'origin_state_nm',
 'origin_wac',
 'dest_airport_id',
 'dest_airport_seq_id',
 'dest_city_market_id',
 'dest',
 'dest_city_name',
 'dest_state_abr',
 'dest_state_fips',
 'dest_state_nm',
 'dest_wac',
 'crs_dep_time',
 'dep_time',
 'dep_delay',
 'dep_delay_new',
 'dep_del15',
 'dep_delay_group',
 'dep_time_blk',
 'taxi_out',
 'wheels_off',
 'wheels_on',
 'taxi_in',
 'crs_arr_time',
 'arr_time',
 'arr_delay',
 'arr_delay_new',
 'arr_del15',
 'arr_delay_group',
 'arr_time_blk',
 'cancelled',
 'cancellation_code',
 'diverted',
 'crs_elapsed_time',
 'actual_elapsed_time',
 'air_time',
 'flights',
 'distance',
 'distance_group',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay',
 'first_dep_time',
 'total_add_gtime',
 'longest_add_gtime',
 'div_airport_landings',
 'div_reached_dest',
 'div_actual_elapsed_time',
 'div_arr_delay',
 'div_distance',
 'div1_airport',
 'div1_airport_id',
 'div1_airport_seq_id',
 'div1_wheels_on',
 'div1_total_gtime',
 'div1_longest_gtime',
 'div1_wheels_off',
 'div1_tail_num',
 'div2_airport',
 'div2_airport_id',
 'div2_airport_seq_id',
 'div2_wheels_on',
 'div2_total_gtime',
 'div2_longest_gtime',
 'div2_wheels_off',
 'div2_tail_num',
 'div3_airport',
 'div3_airport_id',
 'div3_airport_seq_id',
 'div3_wheels_on',
 'div3_total_gtime',
 'div3_longest_gtime',
 'div3_wheels_off',
 'div3_tail_num',
 'div4_airport',
 'div4_airport_id',
 'div4_airport_seq_id',
 'div4_wheels_on',
 'div4_total_gtime',
 'div4_longest_gtime',
 'div4_wheels_off',
 'div4_tail_num',
 'div5_airport',
 'div5_airport_id',
 'div5_airport_seq_id',
 'div5_wheels_on',
 'div5_total_gtime',
 'div5_longest_gtime',
 'div5_wheels_off',
 'div5_tail_num',
 'unnamed: 109']